<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contract">
            <h2><span jhiTranslate="promalyV5App.contract.detail.title">Contract</span> {{contract.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="promalyV5App.contract.description">Description</span></dt>
                <dd>
                    <span>{{contract.description}}</span>
                </dd>
                <dt><span jhiTranslate="promalyV5App.contract.startDate">Start Date</span></dt>
                <dd>
                    <span>{{contract.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="promalyV5App.contract.endDate">End Date</span></dt>
                <dd>
                    <span>{{contract.endDate}}</span>
                </dd>
                <dt><span jhiTranslate="promalyV5App.contract.company">Company</span></dt>
                <dd>
                    <span *ngFor="let company of contract.companies; let last = last">
                        <a [routerLink]="['/company', company?.id, 'view' ]">{{company.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="promalyV5App.contract.managementCompany">Management Company</span></dt>
                <dd>
                    <span *ngFor="let managementCompany of contract.managementCompanies; let last = last">
                        <a [routerLink]="['/company', managementCompany?.id, 'view' ]">{{managementCompany.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contract', contract.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
