<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-tenant-heading" jhiTranslate="promalyV5App.tenant.home.createOrEditLabel">Create or edit a Tenant</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!tenant.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="tenant.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="promalyV5App.tenant.leaseId" for="field_leaseId">Lease Id</label>
                    <input type="number" class="form-control" name="leaseId" id="field_leaseId"
                        [(ngModel)]="tenant.leaseId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="promalyV5App.tenant.contact" for="field_contact">Contact</label>
                    <input type="number" class="form-control" name="contact" id="field_contact"
                        [(ngModel)]="tenant.contact" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="promalyV5App.tenant.propertyUnit" for="field_propertyUnit">Property Unit</label>
                    <select class="form-control" id="field_propertyUnit" name="propertyUnit" [(ngModel)]="tenant.propertyUnitId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="propertyUnitOption.id" *ngFor="let propertyUnitOption of propertyunits; trackBy: trackPropertyUnitById">{{propertyUnitOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
