<div>
    <h2 id="page-heading">
        <span jhiTranslate="promalyV5App.building.home.title">Buildings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-building" [routerLink]="['/building/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="promalyV5App.building.home.createLabel">
            Create new Building
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'promalyV5App.building.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="buildings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="promalyV5App.building.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="yearBuilt"><span jhiTranslate="promalyV5App.building.yearBuilt">Year Built</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="noOfloors"><span jhiTranslate="promalyV5App.building.noOfloors">No Ofloors</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="buildingSize"><span jhiTranslate="promalyV5App.building.buildingSize">Building Size</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="coveredArea"><span jhiTranslate="promalyV5App.building.coveredArea">Covered Area</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="landArea"><span jhiTranslate="promalyV5App.building.landArea">Land Area</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="noOfRentalUnit"><span jhiTranslate="promalyV5App.building.noOfRentalUnit">No Of Rental Unit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="parkingSpaces"><span jhiTranslate="promalyV5App.building.parkingSpaces">Parking Spaces</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalSpaceAvaliable"><span jhiTranslate="promalyV5App.building.totalSpaceAvaliable">Total Space Avaliable</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalUnitLevel"><span jhiTranslate="promalyV5App.building.totalUnitLevel">Total Unit Level</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="currentRentPerSqft"><span jhiTranslate="promalyV5App.building.currentRentPerSqft">Current Rent Per Sqft</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="promalyV5App.building.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="version"><span jhiTranslate="promalyV5App.building.version">Version</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="propertyId"><span jhiTranslate="promalyV5App.building.property">Property</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="assetTypeId"><span jhiTranslate="promalyV5App.building.assetType">Asset Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let building of buildings ;trackBy: trackId">
                <td><a [routerLink]="['/building', building.id, 'view' ]">{{building.id}}</a></td>
                <td>{{building.name}}</td>
                <td>{{building.yearBuilt | date:'mediumDate'}}</td>
                <td>{{building.noOfloors}}</td>
                <td>{{building.buildingSize}}</td>
                <td>{{building.coveredArea}}</td>
                <td>{{building.landArea}}</td>
                <td>{{building.noOfRentalUnit}}</td>
                <td>{{building.parkingSpaces}}</td>
                <td>{{building.totalSpaceAvaliable}}</td>
                <td>{{building.totalUnitLevel}}</td>
                <td>{{building.currentRentPerSqft}}</td>
                <td>{{building.description}}</td>
                <td>{{building.version}}</td>
                <td>
                    <div *ngIf="building.propertyId">
                        <a [routerLink]="['../property', building.propertyId , 'view' ]" >{{building.propertyId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="building.assetTypeId">
                        <a [routerLink]="['../lookup', building.assetTypeId , 'view' ]" >{{building.assetTypeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/building', building.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/building', building.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'building/'+ building.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="buildings && buildings.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
